<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=960" id="meta-viewport">
    <script>
    if (screen.width < 768) {
        document.getElementById('meta-viewport').setAttribute('content', 'width=768');
    }
    </script>

    <title>{{ title }} | {{ site.title }}</title>

    <link rel="shortcut icon" href="{{ site.baseUrl }}favicon.ico" type="image/x-icon">

    <!-- Fonts and CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="{{ site.baseUrl }}vendor/yui/cssgrids-min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseUrl }}combo/main-min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseUrl }}vendor/prettify/prettify-min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseUrl }}css/docs-min.css">
    <link rel="stylesheet" href="{{ site.baseUrl }}css/blog.css" type="text/css">

    <style>
        /* Site Header */
        #hd {
            padding: 25px 20px 20px;
        }
        #hd .site-header {
            display: flex;
            align-items: center;
        }
        #hd .site-brand {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        #hd .site-logo img {
            height: 52px;
            width: auto;
        }
        #hd .site-title {
            margin: 0;
            font-size: 32px;
            color: #30418C;
            line-height: 1.2;
            letter-spacing: normal;
        }
        #hd .site-title a {
            color: inherit;
            text-decoration: none;
        }
        #hd .site-tagline {
            margin: 5px 0 0;
            font-size: 15px;
            color: #666;
            letter-spacing: normal;
        }
    </style>
</head>

<body class="yui3-skin-sam {{ bodyClass | default('') }}">
    <div id="doc">
        {% include "partials/header.njk" %}
        
        <div id="bd" class="clearfix yui3-g">
            <div id="main" class="yui3-u-3-4">
                <div class="liner">
                    {{ content | safe }}
                </div>
            </div>
            
            {% include "partials/sidebar.njk" %}
        </div>
        
        {% include "partials/footer.njk" %}
    </div>

    <script src="{{ site.baseUrl }}vendor/prettify/prettify-min.js"></script>
    <script>prettyPrint();</script>
</body>
</html>
