---
layout: layouts/base.njk
title: Blog
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: "blog/{% if pagination.pageNumber == 0 %}{% else %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<h1>Blog Archive</h1>

<div class="post-list">
    {% for post in posts %}
    <article class="post-summary">
        <header>
            <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
            <div class="meta">
                <div class="date">{{ post.date | dateDisplay }}</div>
                <div class="byline">
                    By {{ post.data.author }}
                    {% if post.data.categories and post.data.categories.length > 0 %}
                    &nbsp;&nbsp;&nbsp;in {% for cat in post.data.categories %}<a href="{{ site.baseUrl }}blog/category/{{ cat | slugify }}/">{{ cat }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="excerpt">
            <p>{{ post.templateContent | excerpt(250) }}</p>
        </div>
        <a href="{{ post.url | url }}" class="read-more">Read more &rarr;</a>
    </article>
    {% endfor %}
</div>

{% if pagination.pages.length > 1 %}
<nav class="pagination">
    <div class="page-numbers">
        {% for pageEntry in pagination.pages %}
        {% set pageNum = loop.index %}
        {% if pageNum == pagination.pageNumber + 1 %}
            <span class="page-num current">{{ pageNum }}</span>
        {% elif pageNum == 1 or pageNum == pagination.pages.length or (pageNum >= pagination.pageNumber - 1 and pageNum <= pagination.pageNumber + 3) %}
            <a href="{{ pagination.hrefs[loop.index0] | url }}" class="page-num">{{ pageNum }}</a>
        {% elif pageNum == pagination.pageNumber - 2 or pageNum == pagination.pageNumber + 4 %}
            <span class="page-ellipsis">...</span>
        {% endif %}
        {% endfor %}
    </div>
    
    {% if pagination.href.next %}
    <a href="{{ pagination.href.next | url }}" class="next">Older Posts &raquo;</a>
    {% endif %}
</nav>
{% endif %}
