<div id="hd" class="yui3-g">
    <div class="site-header">
        <div class="site-brand">
            <a href="{{ site.baseUrl }}" class="site-logo">
                <img src="{{ site.logo }}" alt="YUI">
            </a>
            <div>
                <h1 class="site-title"><a href="{{ site.baseUrl }}">{{ site.title }}</a></h1>
                <p class="site-tagline">{{ site.tagline }}</p>
            </div>
        </div>
    </div>
</div>
